@use "./variables" as *;
@use "./mixins" as *;

.body {
    position: relative;

    &__header {
        background-color: $regular-background;
    }

    &__benefits {
        background-color: rgba(169, 191, 228, 0.3);
    }

    &__feedback {
        background-color: rgba(169, 191, 228, 0.2);
    }

    &__flowers {
        display: none;
    }

    &__footer {
        background-color: $regular-background;
        z-index: 20;
    }
}

@media (min-width: 800px) {
    .body {
        &__flowers {
            display: block;
            position: absolute;
            z-index: 10;
            
            &:nth-child(1) {
                top: -40px;
                right: -65px;  
            }

            &:nth-child(2) {
                left: -65px;
                top: 200px;
                
            }
        }
    }
}

@media (min-width: 1040px) {
    .body {
        &__flowers {
            &:nth-child(1) {
                right: 0;
                top: 20px;
            }

            &:nth-child(2) {
                left: 0;
                top: 180px;
            }
        }
    }
}