@use "./variables" as *;
@use "./mixins" as *;

.body {

    &__header {
        background-color: $regular-background;
    }

    &__benefits {
        background-color: rgba(169, 191, 228, 0.3);
    }

    &__feedback {
        background-color: rgba(169, 191, 228, 0.2);
    }

    &__flowers {
        display: none;
    }

    &__footer {
        background-color: $regular-background;
    }
}