@use "./variables" as *;
@use "./mixins" as *;

* {
    box-sizing: border-box;
}

p,
h1,
h2, 
h3,
h4 {
    margin-top: 0;
}

.wrapper-header-mob {
    @include marginX (25px);
}

.wrapper,
.wrapper-start-page {
    @include marginX (35px);
}

.wrapper-header-desktop {
    @include marginX (65px);
}

@media (min-width: 800px) {
    .wrapper-start-page {
        margin-left: 65px;
        margin-right: 0;
    }
}