@use "./variables" as *;
@use "./mixins" as *;

* {
    box-sizing: border-box;
}

p,
h1,
h2, 
h3,
h4 {
    margin-top: 0;
}

.wrapper-header-mob {
    @include marginX (25px);
}

.wrapper,
.wrapper-start-page,
.wrapper-about-mob {
    @include marginX (35px);
}

.wrapper-header-desktop {
    @include marginX (65px);
}

@media (min-width: 800px) {
    .wrapper-start-page,
    .wrapper-about {
        margin-left: 65px;
        margin-right: 0;
    }

    .wrapper {
        @include marginX (65px);
    }

    .wrapper-about-mob {
        @include marginX (0);
        width: 50%;
    }
}

@media (min-width: 1040px) {
    .wrapper,
    .wrapper-start-page,
    .wrapper-header-desktop  {
        width: 900px;
        @include margin-auto;
    }

}

