@use "../../variables" as *;
@use "../../mixins" as *;

.footer {
    @include paddingY (15px);
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__info {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__logo {
        align-self: center;
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100px;
    }

    &__subheader {
        @include font ($lora, 400, 12px, 15px, #FFFFFF);
        margin-bottom: 5px;
    }

    &__text {
        @include font ($sans, 300, 11px, 14px, #FFFFFF);
        margin-bottom: 0;
        text-decoration: none;
    }

    &__form {
        display: flex;
        justify-content: center;
        margin-right: 80px;
    }

    &__follow {
        position: relative;
        display: inline-block;
    }

    &__button {
        position: absolute;
        right: -90px;
        top: 0;
        box-shadow: none;

        &:hover {
            background-color: #ACACAC;
        }
    }

    &__copyright {
        @include font ($sans, 600, 11px, 14px, #FFFFFF);
        margin-bottom: 0;
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 800px) {
    .footer {
        @include paddingYY (25px, 50px);
        row-gap: 0;
        column-gap: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;

        &__logo {
            @include size (137px, 55px);
            grid-column: 1/-1;
            grid-row: 1/2;
            justify-self: center;
            margin-bottom: 40px;
        }

        &__info {
            grid-column: 1/2;
            grid-row: 2/-1;
        }

        &__form {
            grid-column: 2/3;
            grid-row: 2/3;
            justify-self: center;
        }

        &__socials {
            justify-self: end;
            gap: 70px;
            grid-column: 2/3;
            grid-row: 3/4;
        }

        &__text {
            font-size: 14px;
            line-height: 19px;
        } 
    }
}