@use "../../variables" as *;
@use "../../mixins" as *;

.card-catalog {
    box-shadow: 0 4px 8px 0 #FFC2C7;

    &__information {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
    }

    &__img {
        height: 160px;
        width: 100%;
        margin-bottom: 0;
    }

    &__name {
        @include font ($sans, 400, 13px, 16px);
        margin-bottom: 0;
    }

    &__price {
        @include font ($sans, 400, 13px, 16px);
        margin-bottom: 0;
    }

    &:hover {
        box-shadow: 0 4px 8px 0 #ACACAC;
    }
}

@media (min-width: 800px) {
    .card-catalog {
        
        &__information {
            gap: 15px;
            padding: 20px;
        }

        &__img {
            height: 210px;
        }
    }
}

@media (min-width: 1024px) {
    .card-catalog {
        
        &__information {
            gap: 20px;
            padding: 20px;
        }

        &__img {
            height: 230px;
        }
    }
}