@use "../variables" as *;
@use "../mixins" as *;

.about-us {
    @include paddingYY (15px, 30px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        @include header-text;
        margin-bottom: 12px;
    }

    &__text {
        @include paragraph-text ();
        margin-bottom: 7px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__picture-background {
        @include bg-img ('../images/abstract_background.png');
        @include size (292px, 229px);
        position: relative;
    }

    &__image {
        @include size (292px, 181px);
        position: absolute;
        bottom: 0px;
        left: -55px;
    }

    &__socials {
        position: absolute;
        right: 40px;
        top: 27px;
    }
}

@media (min-width: 800px) {
    .about-us {
 

    }
}