@use "../variables" as *;
@use "../mixins" as *;

.catalog {
    @include paddingYY (32px, 40px);
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__header {
        @include header-text;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__item {
       width: 155px;
    }
}

@media (min-width: 400px) {
    .catalog {

        &__list {
            gap: 30px;
        }

        &__item {
            max-width: calc(50% - 15px);
            width: 200px;
        }
    }
}

@media (min-width: 800px) {
    .catalog {

        &__item {
            max-width: calc(33.33% - 20px);
            width: 210px;
        }
    }
}

@media (min-width: 1024px) {
    .catalog {

        &__item {
            width: 230px;
        }
    }
}

