@use "../variables" as *;
@use "../mixins" as *;

.rewiews {
    @include paddingY (20px);
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;

    &__header {
        @include header-text;
        margin-bottom: 0;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__text {
        @include font ($sans, 400, 13px, 16px);
        margin-bottom: 0;
        text-align: justify;
        position: relative;

        &::after {
            content: url("../images/line-3.png");
            position: absolute;
            bottom: -10px;
            left: 0;
        }
    }

    &__user {
        @include font ($sans, 600, 13px, 16px, #989EC3);
        margin-bottom: 0;
    }
}

@media (min-width: 800px) {
    .rewiews {

        &__item {
            flex-direction: row;
            gap: 40px;
            
            &:last-child {
                justify-content: flex-end;
            }
        }

        &__cards {
            gap: 40px;
        }

        &__text {
            width: 335px;
        }
    }
}